<%= render partial: 'spree/admin/shared/product_tabs', locals: {current: "Product Customization Types"} %>

<% content_for(:page_actions) do %>
  <li>
    <%= link_to I18n.t("spree.add_product_customization_type"), spree.available_admin_product_product_customization_types_url(@product), remote: true, class: 'fa fa-plus btn-success' %>
  </li>
<% end %>

<div id="selected-customization-types">
  <%= render 'selected' %>
</div>

<p>To create new, edit, or delete Product Customization Types, <%= link_to 'Click Here', admin_product_customization_types_path %></p>
