<h5><%= option.presentation %></h5>
<% if option.description %>
	<p><%= option.description %></p>
<% end %>
<input type="number" name="<%= "#{param_prefix}[#{option.id}]" %>" id="<%= "customize-option-#{option.id}" %>" class="customization form-control">