<%= render partial: 'spree/admin/shared/product_tabs', locals: {current: "Ad Hoc Option Types"} %>

<% content_for :page_actions do %>
  <% if can?(:edit, Spree::Product) %>
    <li id="new_ahot_link">
      <%= link_to I18n.t(:add_ad_hoc_option_type, scope: :spree), new_admin_product_ad_hoc_option_type_path(@product), { remote: :true, class: 'btn btn-primary' } %>
    </li>
  <% end %>
<% end %>

<div id="selected-options">
  <%= render 'selected' %>
</div>


<div id="option-types"></div>
<span id="new_opt_link"></span>
