<% if !!@product.product_customization_types && @product.product_customization_types.present? %>

  <div id="product-customizations">
    <div class= 'col-sm-12'>
      <h3 class="product-section-title"><%=Spree.t(:customizations) %></h3>
    </div>
    <ul class="list-group list-unstyled">
      <% @product.product_customization_types.group_by{ |x| calculator_name(x) }.each do |product_customization_grouped_by_calc_type| %>
        <% product_calc_name, product_customization_type_group = product_customization_grouped_by_calc_type %>
        <div class='col-sm-12'>
          <legend><%= product_customization_type_group.first.presentation %></legend>
        </div>
        <% product_customization_type_group.each do |product_customization_type| %>
          <%# render a partial for product_customization_type (first check in /customization_types, then check /calculator_type, finally fall back to _custom_partial_not_found) %>
          <%= render_partial_for_customization_type(product_customization_type, product_calc_name) %>
        <% end %> <%# each product_customization_type %>
        <div class='col-sm-12'></div>
      <% end %> <%# each product_customization_grouped_by_calc_type %>
    </ul>
  </div> <!-- product-customizations -->

<% end %>
